@font-face {
  font-family: "iconfont"; /* Project id 3977143 */
  src: url('iconfont.woff2?t=1679803230561') format('woff2'),
       url('iconfont.woff?t=1679803230561') format('woff'),
       url('iconfont.ttf?t=1679803230561') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jianzheng:before {
  content: "\e67e";
}

.icon-chukuai:before {
  content: "\e67f";
}

.icon-qiaoding:before {
  content: "\e680";
}

.icon-shouji:before {
  content: "\e681";
}

.icon-blockchain2:before {
  content: "\e682";
}

.icon-gengduo:before {
  content: "\e683";
}

.icon-create:before {
  content: "\e684";
}

.icon-contrast:before {
  content: "\e685";
}

.icon-download:before {
  content: "\e686";
}

.icon-shanchu:before {
  content: "\e687";
}

.icon-setting:before {
  content: "\e688";
}

.icon-dashboard:before {
  content: "\e689";
}

.icon-jishi:before {
  content: "\e68a";
}

.icon-shangzhangjiantou:before {
  content: "\e68b";
}

.icon-youjiantou:before {
  content: "\e68c";
}

.icon-lajitong:before {
  content: "\e68d";
}

.icon-sousuo:before {
  content: "\e68e";
}

.icon-back_light:before {
  content: "\e68f";
}

.icon-jieshi:before {
  content: "\e690";
}

.icon-zuoyoujiantou:before {
  content: "\e691";
}

.icon-wancheng:before {
  content: "\e692";
}

.icon-play:before {
  content: "\e693";
}

.icon-stop:before {
  content: "\e694";
}

.icon-hetong:before {
  content: "\e695";
}

.icon-zhongzhi:before {
  content: "\e696";
}

.icon-copy:before {
  content: "\e697";
}

.icon-Execute:before {
  content: "\e698";
}

.icon-Save:before {
  content: "\e699";
}

.icon-youjiantou1:before {
  content: "\e69a";
}

.icon-QRcode:before {
  content: "\e69b";
}

.icon-jianzheng1:before {
  content: "\e69c";
}

.icon-chukuai1:before {
  content: "\e69d";
}

.icon-qiaoding1:before {
  content: "\e69e";
}

.icon-shouji1:before {
  content: "\e69f";
}

.icon-chart:before {
  content: "\e6a0";
}

.icon-GitHub:before {
  content: "\e6a2";
}

.icon-ETHglobal:before {
  content: "\e6a3";
}

.icon-TBS:before {
  content: "\e6a1";
}

.icon-Polybase:before {
  content: "\e6a4";
}

.icon-Gnosis:before {
  content: "\e6a5";
}

.icon-Polygon:before {
  content: "\e6a6";
}

.icon-ethereum:before {
  content: "\e67b";
}

