node_modules
.idea
*.iml
.DS_Store
lib/**/package-lock.json
data
dist
.nyc_output
bin/example/*
test_result
public/*

# temp
~*
src/theme/dark/*.css
src/theme/*.css# CI temp

ipfs.md
ipfs.txt
kubo
kubo*
*.tar.gz
tbs